*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

button, input, select, textarea {
    font: inherit;
    border: none;
    background: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

fieldset {
    border: none;
}
